@import 'config';
@import 'fonts';

body {
	margin: 0;
}

header {
	min-height: 100%;
	background-image: url('/images/bg2.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
}

h1 {
	color: $white;
	font-size: 52px;
	font-family: $montserrat;
	letter-spacing: 6px;
	margin-bottom: 20px;
}

.wrapper {
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Add media screens later
.container {
	opacity: 1 !important;
	padding: 60px;	
	@media (max-width: 960px) {
		width: 720px;
	}
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.logo {
	position: relative;
	display: block;
	width: 200px;
	height: 130px;
	margin: 0px auto 60px;
	background: url('http://placehold.it/200x130');
}

.sub-tag {
	font-size: 28px;
	font-family: $neuton;
	color: $white;
}

.form-wrapper {
	margin: 40px auto;
	display: block;

	form {
		margin: 0 0 20px;
	}

	.minify-form {
		display: inline-block;
		margin-bottom: 10px;
		font-size: 0;
		white-space: nowrap;
		vertical-align: middle;
	}

	input[type="url"] {
		width: 400px;
		height: 60px;
		color: #71767e;
		font-size: 14px;
		padding: 0 25px;
		font-family: inherit;
		border-radius: 0;
		border: #d2d2d2;
	}

	.button-wrapper {
		position: relative;

		&:before {
			content: '';
			position: absoltue;
			top: 23px;
			left: -1px;
			border-top: 5px solid transparent;
			border-left: 5px solid $white;
			border-bottom: 5px solid transparent;
			z-index: 99;
		}
	}

	.button {
		float: left;
		position: relative;
		height: 60px;
		color: $white;
		border-radius: 0px !important;
		border-left: 0 !important;
		margin-left: 0 !important;
		box-shadow: none;
		text-shadow: 0px 2px rgba(0,0,0,0.1);
		font: 14px/60px $neuton;
		text-transform: uppercase;
		padding: 0 25px;
		background: #e85211;
		border: none;
		letter-spacing: 0.2em;
		transition: all 0.2s linear;
	}
}
